/*
* General Config
*/
@import "catppuccin-mocha.css";

* {
  font-family: "RobotoMono Nerd Font Propo", FontAwesome, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

window#waybar {
  all: unset;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 5px 10px;
  padding: 0 10px;
  border-radius: 50px;
  background-color: @base;
}

/*
* General Tweaks
*/

/*
* Modules
*/

/* Backlight */
#backlight {
  color: @yellow;
}

/* Battery */
#battery {
  color: @text;
}

#battery.charging {
  color: @green;
}

#battery.warning {
  color: @peach;
}

window#waybar.battery-warning {
  /* Peach, with opacity */
  background-color: rgba(250, 179, 135, 0.5);
}

#battery.critical {
  color: @red;
}

window#waybar.battery-critical {
  /* Red with opacity */
  background-color: rgba(243, 139, 168, 0.2);
}

/* Bluetooth */
#bluetooth.disabled,
#bluetooth.off {
  color: @overlay1;
}

#bluetooth.on,
#bluetooth.connected,
#bluetooth.connected-battery {
  color: @blue;
}

/* Clock */
#clock {
  color: @text;
}

/* Custom/Power-Menu */
#custom-powermenu {
  color: @red;
}


/* Idle Inhibitor */
#idle_inhibitor.activated {
  color: @blue;
}

#idle_inhibitor.deactivated {
  color: @overlay1;
}

/* Network */
#network.disabled,
#network.disconnected {
  color: @overlay1;
}

#network.ethernet,
#network.wifi {
  color: @blue;
}

/* Power Profiles Daemon */
#power-profiles-daemon.power-saver {
  color: @green;
}

#power-profiles-daemon.balanced {
  color: @blue;
}

#power-profiles-daemon.performance {
  color: @red;
}

/* Wireplumber */
#wireplumber {
  color: @text;
}

/* Workspaces */
#workspaces button {
  padding: 0;
  color: @overlay0;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.urgent {
  color: @red;
}
