* {
  font-family: "RobotoMono Nerd Font Propo", FontAwesome, sans-serif;
  font-size: 16px;
  min-height: 0;
  color: white;
}

window#waybar {
  all: unset;
}

window#waybar.empty #window {
  background-color: transparent;
}

label.module,
box.module {
  border-radius: 5px;
}

label.module {
  background-color: #ff8800;
  padding: 0 0.5em;
  /*min-width: 2em;*/
}

box.module {
  background-color: #0088ff;
  padding: 0;
}
